
/*
ul {  
    background: #333; 
    height: 30px;
    width: 100%; 
}

ul > li { 
    float: left; 
    position: relative;  
}

ul.egmenu ul {
    background: #444; 
    display: none; 
    position: absolute;
    left: 0; top: 100%;
}

ul a { 
    cursor: pointer; 
    display: block; 
    color: white; 
    line-height: 30px; 
    padding: 0 10px; 
}

ul li { list-style: none; }

ul li:hover { background: #555;  }
ul li:hover ul { display: block;  }

*/
